body { 
    font-family: sans-serif; 
    margin: 20px; 
}
table { 
    border-collapse: separate; 
    width: 60%; 
    margin-top: 20px;
}
th, td { 
    border: 1px solid #535353; 
    padding: 10px; 
    text-align: left; 
}
th { 
    background-color: #f2f2f2; 
}
.btn { 
    padding: 10px 15px; 
    background-color: lightgreen; 
    text-decoration: none; 
    color: black; 
    border-radius: 5px; 
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #7bdf7b;
}